Repository VNG-Realisatie/nlx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Go tests (unit & integration), Go linter, Go go.mod tidy test, Helm lint

Go tests (unit & integration):
  stage: Tests
  image: golang:1.20.1
  variables:
    POSTGRES_DSN: postgres://postgres@postgres:5432/nlx?sslmode=disable
  before_script:
  - mkdir -p tmp-coverage-reports/
  script:
  - ./pki/fix-permissions.sh
  - /usr/local/go/bin/go mod download
  ...

Go linter:
  stage: Tests
  image: golangci/golangci-lint:v1.50.1-alpine
  before_script:
  - export PATH=$PATH:/usr/local/go/bin
  - apk --no-cache add jq
  script:
  - golangci-lint version
  ...

Go go.mod tidy test:
  stage: Tests
  image: golang:1.20.1
  script:
  - cp go.mod go.mod.orig
  - /usr/local/go/bin/go mod download
  - /usr/local/go/bin/go mod tidy
  - diff go.mod.orig go.mod
  needs: []
  tags:
  - cg
  - docker

Helm lint:
  stage: Tests
  image: registry.gitlab.com/commonground/core/review-app-deployer:latest
  script:
  - cd helm/
  - "for CHART in $(find charts/* -type d -maxdepth 0 -print); do\n  start_section lint \"Linting chart '${CHART}'\"\n  helm lint --strict ${CHART}\n  stop_section lint\ndone\n"
  needs: []
  tags:
  ...

ci: configure PostgreSQL Write Ahead Log (WAL)
  helm/deploy/shared/templates/postgres.yaml
Due: Helm lint

ci(helm): assign tolerations to shared PostgreSQL so we can deploy on any node
  helm/deploy/shared/templates/postgres.yaml
Due: Helm lint

ci: remove outdated SAST job
  .gitlab/ci/security/sast.yml
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test, Helm lint

ci: add missing Dockerimage tag with component version for ACC
  .gitlab/ci/build/acceptance.yml
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test, Helm lint

ci: add missing Dockerimage tag with component version for PROD
  .gitlab/ci/build/production.yml
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test, Helm lint

release: 0.149.6
  CHANGELOG.md
  helm/charts/apps-overview/Chart.yaml
  helm/charts/ca-certportal/Chart.yaml
  helm/charts/ca-cfssl-unsafe/Chart.yaml
  helm/charts/nlx-directory/Chart.yaml
  helm/charts/nlx-docs/Chart.yaml
  helm/charts/nlx-inway/Chart.yaml
  helm/charts/nlx-management/Chart.yaml
  helm/charts/nlx-outway/Chart.yaml
  helm/charts/nlx-txlog-api/Chart.yaml
  helm/charts/video-player-ui/Chart.yaml
  helm/charts/websockets-chat-ui/Chart.yaml
  helm/deploy/directory/Chart.lock
  helm/deploy/directory/Chart.yaml
  helm/deploy/gemeente-riemer/Chart.lock
  helm/deploy/gemeente-riemer/Chart.yaml
  helm/deploy/gemeente-stijns/Chart.lock
  helm/deploy/gemeente-stijns/Chart.yaml
  helm/deploy/rvrd/Chart.lock
  helm/deploy/rvrd/Chart.yaml
  helm/deploy/shared/Chart.lock
  helm/deploy/shared/Chart.yaml
  helm/deploy/vergunningsoftware-bv/Chart.lock
  helm/deploy/vergunningsoftware-bv/Chart.yaml
  technical-docs/nlx-helm-installation-guide/job-create-administrator.yaml
  technical-docs/nlx-helm-installation-guide/nlx-inway-values.yaml
  technical-docs/nlx-helm-installation-guide/nlx-management-values.yaml
  technical-docs/nlx-helm-installation-guide/nlx-outway-values.yaml
  technical-docs/nlx-helm-installation-guide/txlog-api-values.yaml
Due: Helm lint

ci: use correct gitlab environment variable
  .gitlab/ci/build/production.yml
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test, Helm lint

release: 0.149.7
  CHANGELOG.md
  helm/charts/apps-overview/Chart.yaml
  helm/charts/ca-certportal/Chart.yaml
  helm/charts/ca-cfssl-unsafe/Chart.yaml
  helm/charts/nlx-directory/Chart.yaml
  helm/charts/nlx-docs/Chart.yaml
  helm/charts/nlx-inway/Chart.yaml
  helm/charts/nlx-management/Chart.yaml
  helm/charts/nlx-outway/Chart.yaml
  helm/charts/nlx-txlog-api/Chart.yaml
  helm/charts/video-player-ui/Chart.yaml
  helm/charts/websockets-chat-ui/Chart.yaml
  helm/deploy/directory/Chart.lock
  helm/deploy/directory/Chart.yaml
  helm/deploy/gemeente-riemer/Chart.lock
  helm/deploy/gemeente-riemer/Chart.yaml
  helm/deploy/gemeente-stijns/Chart.lock
  helm/deploy/gemeente-stijns/Chart.yaml
  helm/deploy/rvrd/Chart.lock
  helm/deploy/rvrd/Chart.yaml
  helm/deploy/shared/Chart.lock
  helm/deploy/shared/Chart.yaml
  helm/deploy/vergunningsoftware-bv/Chart.lock
  helm/deploy/vergunningsoftware-bv/Chart.yaml
  technical-docs/nlx-helm-installation-guide/job-create-administrator.yaml
  technical-docs/nlx-helm-installation-guide/nlx-inway-values.yaml
  technical-docs/nlx-helm-installation-guide/nlx-management-values.yaml
  technical-docs/nlx-helm-installation-guide/nlx-outway-values.yaml
  technical-docs/nlx-helm-installation-guide/txlog-api-values.yaml
Due: Helm lint

ci: add toleration for Azure System nodes
  helm/deploy/directory/templates/postgres.yaml
  helm/deploy/gemeente-riemer/templates/postgres.yaml
  helm/deploy/gemeente-stijns/templates/postgres.yaml
  helm/deploy/rvrd/templates/postgres.yaml
  helm/deploy/vergunningsoftware-bv/templates/postgres.yaml
Due: Helm lint

build: update dependency @swc/core to v1.7.24
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

ci(helm): reduce number of PostgreSQL instances to 1 for PROD
  helm/deploy/directory/values-production.yaml
Due: Helm lint

ci(helm): add WAL configuration to PostgreSQL for PROD
  helm/deploy/directory/templates/postgres.yaml
Due: Helm lint

feat(helm): upgrade Directory PostgreSQL version from v11 to v15
  helm/deploy/directory/values.yaml
  helm/deploy/shared/values.yaml
Due: Helm lint

ci(helm): upgrade PostgreSQL version from v11 to v15
  helm/deploy/gemeente-riemer/values.yaml
  helm/deploy/gemeente-stijns/values.yaml
  helm/deploy/rvrd/values.yaml
  helm/deploy/vergunningsoftware-bv/values.yaml
Due: Helm lint

ci: use Docker Hub credentials to prevent rate-limits when pulling
  .gitlab/ci/build/acceptance.yml
  .gitlab/ci/build/review.yml
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test, Helm lint

ci: attempt to fix build
  .gitlab/ci/build/review.yml
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test, Helm lint

release: 0.150.0
  CHANGELOG.md
  helm/charts/apps-overview/Chart.yaml
  helm/charts/ca-certportal/Chart.yaml
  helm/charts/ca-cfssl-unsafe/Chart.yaml
  helm/charts/nlx-directory/Chart.yaml
  helm/charts/nlx-docs/Chart.yaml
  helm/charts/nlx-inway/Chart.yaml
  helm/charts/nlx-management/Chart.yaml
  helm/charts/nlx-outway/Chart.yaml
  helm/charts/nlx-txlog-api/Chart.yaml
  helm/charts/video-player-ui/Chart.yaml
  helm/charts/websockets-chat-ui/Chart.yaml
  helm/deploy/directory/Chart.lock
  helm/deploy/directory/Chart.yaml
  helm/deploy/gemeente-riemer/Chart.lock
  helm/deploy/gemeente-riemer/Chart.yaml
  helm/deploy/gemeente-stijns/Chart.lock
  helm/deploy/gemeente-stijns/Chart.yaml
  helm/deploy/rvrd/Chart.lock
  helm/deploy/rvrd/Chart.yaml
  helm/deploy/shared/Chart.lock
  helm/deploy/shared/Chart.yaml
  helm/deploy/vergunningsoftware-bv/Chart.lock
  helm/deploy/vergunningsoftware-bv/Chart.yaml
  technical-docs/nlx-helm-installation-guide/job-create-administrator.yaml
  technical-docs/nlx-helm-installation-guide/nlx-inway-values.yaml
  technical-docs/nlx-helm-installation-guide/nlx-management-values.yaml
  technical-docs/nlx-helm-installation-guide/nlx-outway-values.yaml
  technical-docs/nlx-helm-installation-guide/txlog-api-values.yaml
Due: Helm lint

ci(helm): disable logging collector for PostgreSQL
  helm/deploy/directory/templates/postgres.yaml
  helm/deploy/gemeente-riemer/templates/postgres.yaml
  helm/deploy/gemeente-stijns/templates/postgres.yaml
  helm/deploy/rvrd/templates/postgres.yaml
  helm/deploy/shared/templates/postgres.yaml
  helm/deploy/vergunningsoftware-bv/templates/postgres.yaml
Due: Helm lint

release: 0.150.1
  CHANGELOG.md
  helm/charts/apps-overview/Chart.yaml
  helm/charts/ca-certportal/Chart.yaml
  helm/charts/ca-cfssl-unsafe/Chart.yaml
  helm/charts/nlx-directory/Chart.yaml
  helm/charts/nlx-docs/Chart.yaml
  helm/charts/nlx-inway/Chart.yaml
  helm/charts/nlx-management/Chart.yaml
  helm/charts/nlx-outway/Chart.yaml
  helm/charts/nlx-txlog-api/Chart.yaml
  helm/charts/video-player-ui/Chart.yaml
  helm/charts/websockets-chat-ui/Chart.yaml
  helm/deploy/directory/Chart.lock
  helm/deploy/directory/Chart.yaml
  helm/deploy/gemeente-riemer/Chart.lock
  helm/deploy/gemeente-riemer/Chart.yaml
  helm/deploy/gemeente-stijns/Chart.lock
  helm/deploy/gemeente-stijns/Chart.yaml
  helm/deploy/rvrd/Chart.lock
  helm/deploy/rvrd/Chart.yaml
  helm/deploy/shared/Chart.lock
  helm/deploy/shared/Chart.yaml
  helm/deploy/vergunningsoftware-bv/Chart.lock
  helm/deploy/vergunningsoftware-bv/Chart.yaml
  technical-docs/nlx-helm-installation-guide/job-create-administrator.yaml
  technical-docs/nlx-helm-installation-guide/nlx-inway-values.yaml
  technical-docs/nlx-helm-installation-guide/nlx-management-values.yaml
  technical-docs/nlx-helm-installation-guide/nlx-outway-values.yaml
  technical-docs/nlx-helm-installation-guide/txlog-api-values.yaml
Due: Helm lint

Path conditions:
  Go tests (unit & integration): any of: .gitlab/**/*, apps-overview/**/*, ca-certportal/**/*, ca-cfssl-unsafe/**/*, common/**/*, directory-api/**/*, directory-ui/**/*, directory-monitor/**/*, inway/**/*, management-api/**/*, nlxctl/**/*, outway/**/*, testing/**/*, txlog-api/**/*, .golang-ci.yml, go.mod, go.sum
  Go linter: any of: .gitlab/**/*, apps-overview/**/*, ca-certportal/**/*, ca-cfssl-unsafe/**/*, common/**/*, directory-api/**/*, directory-ui/**/*, directory-monitor/**/*, inway/**/*, management-api/**/*, nlxctl/**/*, outway/**/*, testing/**/*, txlog-api/**/*, .golang-ci.yml, go.mod, go.sum
  Go go.mod tidy test: any of: .gitlab/**/*, go.mod, go.sum
  Helm lint: any of: .gitlab/**/*, helm/**/*
