Repository VNG-Realisatie/nlx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Go tests (unit & integration), Go linter, Go go.mod tidy test

.gitlab/ci/tests/go.yml:

# Copyright Â© VNG Realisatie 2022
# Licensed under the EUPL

services:
  - postgres:15.1-alpine

variables:
  POSTGRES_DB: nlx
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: ""
  POSTGRES_HOST_AUTH_METHOD: trust

Go tests (unit & integration):
  stage: Tests
  image: golang:1.20.1
  variables:
    POSTGRES_DSN: "postgres://postgres@postgres:5432/nlx?sslmode=disable"
  before_script:
    - mkdir -p tmp-coverage-reports/
  script:
    - ./pki/fix-permissions.sh
    - /usr/local/go/bin/go mod download
    - /usr/local/go/bin/go test ./... --tags=integration -coverprofile tmp-coverage-reports/coverage.out.tmp
    - cat tmp-coverage-reports/coverage.out.tmp | grep -v '.pb.go\|.pb.gw.go' > tmp-coverage-reports/coverage.out
    - rm tmp-coverage-reports/coverage.out.tmp
    - /usr/local/go/bin/go tool cover -html=tmp-coverage-reports/coverage.out -o tmp-coverage-reports/coverage.html
    - /usr/local/go/bin/go tool cover -func=tmp-coverage-reports/coverage.out
  coverage: /total:\t+\(statements\)\t+([\d\.]+?%)/
  artifacts:
    expire_in: 1 month
    paths:
      - tmp-coverage-reports/coverage.html
  needs: []
  rules:
    - if: "$CI_COMMIT_BRANCH" # do not run for tags
      changes:
        compare_to: 'master'
        paths:
          - .gitlab/**/*
          - apps-overview/**/*
          - ca-certportal/**/*
          - ca-cfssl-unsafe/**/*
          - common/**/*
          - directory-api/**/*
          - directory-ui/**/*
          - directory-monitor/**/*
          - inway/**/*
          - management-api/**/*
          - nlxctl/**/*
          - outway/**/*
          - testing/**/*
          - txlog-api/**/*
          - .golang-ci.yml
          - go.mod
          - go.sum
  tags:
    - cg
    - docker
  retry: 1

Go linter:
  stage: Tests
  image: golangci/golangci-lint:v1.50.1-alpine
  before_script:
    - export PATH=$PATH:/usr/local/go/bin
    - apk --no-cache add jq
  script:
    - golangci-lint version
    # Command based on https://docs.gitlab.com/ee/development/go_guide/index.html#automatic-linting
    # Write the code coverage report to gl-code-quality-report.json
    # and print linting issues to stdout in the format: path/to/file:line description
    # remove `--issues-exit-code 0` or set to non-zero to fail the job if linting issues are detected
    - golangci-lint run --timeout=5m --new-from-rev $(git rev-parse origin/master) --out-format code-climate | tee gl-code-quality-report.json | jq -r '.[] | "\(.location.path):\(.location.lines.begin) \(.description)"'
  artifacts:
    reports:
      codequality: gl-code-quality-report.json
    paths:
      - gl-code-quality-report.json
  needs: []
  rules:
    - if: "$CI_COMMIT_BRANCH" # do not run for tags
      changes:
        compare_to: 'master'
        paths:
          - .gitlab/**/*
          - apps-overview/**/*
          - ca-certportal/**/*
          - ca-cfssl-unsafe/**/*
          - common/**/*
          - directory-api/**/*
          - directory-ui/**/*
          - directory-monitor/**/*
          - inway/**/*
          - management-api/**/*
          - nlxctl/**/*
          - outway/**/*
          - testing/**/*
          - txlog-api/**/*
          - .golang-ci.yml
          - go.mod
          - go.sum
  tags:
    - cg
    - docker

Go go.mod tidy test:
  stage: Tests
  image: golang:1.20.1
  script:
    - cp go.mod go.mod.orig
    - /usr/local/go/bin/go mod download
    - /usr/local/go/bin/go mod tidy
    - diff go.mod.orig go.mod
  needs: []
  rules:
    - if: "$CI_COMMIT_BRANCH" # do not run for tags
      changes:
        compare_to: 'master'
        paths:
          - .gitlab/**/*
          - go.mod
          - go.sum
  tags:
    - cg
    - docker

build: update module github.com/grpc-ecosystem/grpc-gateway/v2 to v2.16.1
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update dependency @commonground/design-system to v21.6.0
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update dependency @cucumber/cucumber to v9.3.0
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

build: update dependency @cucumber/html-formatter to v20.4.0
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

build: update golang.org/x/exp digest to b0cb94b
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update module github.com/grpc-ecosystem/grpc-gateway/v2 to v2.16.2
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update dependency @openapitools/openapi-generator-cli to v2.7.0
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update dependency @testing-library/jest-dom to v5.17.0
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update dependency eslint-config-prettier to v8.9.0
  e2e-tests/package-lock.json
  e2e-tests/package.json
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update dependency eslint-plugin-import to v2.28.0
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

build: update dependency i18next to v23.4.1
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update dependency i18next-parser to v8.3.0
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update dependency mobx to v6.10.0
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update openpolicyagent/opa docker tag to v0.55.0
  auth-opa/Dockerfile
Due: none

build: update typescript-eslint monorepo to v5.62.0
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

build: update dependency cross-fetch to v4
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

build: update dependency mobx-react to v9
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update dependency prettier to v3
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

build: update typescript-eslint monorepo to v6
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

build: update google.golang.org/genproto/googleapis/api digest to e0aa005
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update google.golang.org/genproto/googleapis/rpc digest to e0aa005
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update dependency react-i18next to v13.0.3
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update typescript-eslint monorepo to v6.2.1
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

build: update dependency selenium-webdriver to v4.11.0
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

build: update golang.org/x/exp digest to d63ba01
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update dependency selenium-webdriver to v4.11.1
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

build: update golang docker tag to v1.20.7
  apps-overview/Dockerfile
  ca-certportal/Dockerfile
  directory-api/Dockerfile
  directory-monitor/Dockerfile
  directory-ui/Dockerfile
  inway/Dockerfile
  management-api/Dockerfile
  management-ui-fsc/Dockerfile
  management-ui/Dockerfile
  nlxctl/Dockerfile
  outway/Dockerfile
  txlog-api/Dockerfile
Due: Go tests (unit & integration), Go linter

build: update module golang.org/x/net to v0.13.0
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update selenium/standalone-chrome docker tag to v4.11.0
  e2e-tests/docker-compose.yml
Due: none

build: update dependency @fontsource/source-sans-pro to v5.0.6
  directory-ui/ports/ui/assets/package-lock.json
  directory-ui/ports/ui/assets/package.json
  management-ui-fsc/ports/ui/assets/package-lock.json
  management-ui-fsc/ports/ui/assets/package.json
Due: Go tests (unit & integration), Go linter

build: update dependency formik to v2.4.3
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update module go.uber.org/zap to v1.25.0
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update google.golang.org/genproto/googleapis/api digest to f966b18
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update google.golang.org/genproto/googleapis/rpc digest to f966b18
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update dependency @fontsource/source-sans-pro to v5.0.7
  directory-ui/ports/ui/assets/package-lock.json
  directory-ui/ports/ui/assets/package.json
  management-ui-fsc/ports/ui/assets/package-lock.json
  management-ui-fsc/ports/ui/assets/package.json
Due: Go tests (unit & integration), Go linter

build: update dependency @semantic-release/gitlab to v12.0.4
  package-lock.json
  package.json
Due: none

build: update dependency prettier to v3.0.1
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

build: update dependency eslint-config-prettier to v8.10.0
  e2e-tests/package-lock.json
  e2e-tests/package.json
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update module golang.org/x/crypto to v0.12.0
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update module golang.org/x/net to v0.14.0
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test
