Repository VNG-Realisatie/nlx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Go tests (unit & integration), Go linter, Go go.mod tidy test

Go tests (unit & integration):
  stage: Tests
  image: golang:1.20.1
  variables:
    POSTGRES_DSN: postgres://postgres@postgres:5432/nlx?sslmode=disable
  before_script:
  - mkdir -p tmp-coverage-reports/
  script:
  - ./pki/fix-permissions.sh
  - /usr/local/go/bin/go mod download
  ...

Go linter:
  stage: Tests
  image: golangci/golangci-lint:v1.50.1-alpine
  before_script:
  - export PATH=$PATH:/usr/local/go/bin
  - apk --no-cache add jq
  script:
  - golangci-lint version
  ...

Go go.mod tidy test:
  stage: Tests
  image: golang:1.20.1
  script:
  - cp go.mod go.mod.orig
  - /usr/local/go/bin/go mod download
  - /usr/local/go/bin/go mod tidy
  - diff go.mod.orig go.mod
  needs: []
  tags:
  - cg
  - docker

build: update dependency semantic-release to v21.0.6
  package-lock.json
  package.json
Due: none

ci: ignore global image settings in ca-cfssl-unsafe chart
  helm/charts/ca-cfssl-unsafe/README.md
  helm/charts/ca-cfssl-unsafe/templates/_helpers.tpl
  helm/charts/ca-cfssl-unsafe/values.yaml
Due: none

release: 0.149.0
  CHANGELOG.md
  helm/charts/apps-overview/Chart.yaml
  helm/charts/ca-certportal/Chart.yaml
  helm/charts/ca-cfssl-unsafe/Chart.yaml
  helm/charts/nlx-directory/Chart.yaml
  helm/charts/nlx-docs/Chart.yaml
  helm/charts/nlx-inway/Chart.yaml
  helm/charts/nlx-management/Chart.yaml
  helm/charts/nlx-outway/Chart.yaml
  helm/charts/nlx-txlog-api/Chart.yaml
  helm/charts/video-player-ui/Chart.yaml
  helm/charts/websockets-chat-ui/Chart.yaml
  helm/deploy/directory/Chart.lock
  helm/deploy/directory/Chart.yaml
  helm/deploy/gemeente-riemer/Chart.lock
  helm/deploy/gemeente-riemer/Chart.yaml
  helm/deploy/gemeente-stijns/Chart.lock
  helm/deploy/gemeente-stijns/Chart.yaml
  helm/deploy/rvrd/Chart.lock
  helm/deploy/rvrd/Chart.yaml
  helm/deploy/shared/Chart.lock
  helm/deploy/shared/Chart.yaml
  helm/deploy/vergunningsoftware-bv/Chart.lock
  helm/deploy/vergunningsoftware-bv/Chart.yaml
  technical-docs/nlx-helm-installation-guide/job-create-administrator.yaml
  technical-docs/nlx-helm-installation-guide/nlx-inway-values.yaml
  technical-docs/nlx-helm-installation-guide/nlx-management-values.yaml
  technical-docs/nlx-helm-installation-guide/nlx-outway-values.yaml
  technical-docs/nlx-helm-installation-guide/txlog-api-values.yaml
Due: none

ci: remove push of ca-cfssl-unsafe image to production
  .dockerignore
  .gitlab/ci/push/production.yml
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

release: 0.149.1
  CHANGELOG.md
  helm/charts/apps-overview/Chart.yaml
  helm/charts/ca-certportal/Chart.yaml
  helm/charts/ca-cfssl-unsafe/Chart.yaml
  helm/charts/nlx-directory/Chart.yaml
  helm/charts/nlx-docs/Chart.yaml
  helm/charts/nlx-inway/Chart.yaml
  helm/charts/nlx-management/Chart.yaml
  helm/charts/nlx-outway/Chart.yaml
  helm/charts/nlx-txlog-api/Chart.yaml
  helm/charts/video-player-ui/Chart.yaml
  helm/charts/websockets-chat-ui/Chart.yaml
  helm/deploy/directory/Chart.lock
  helm/deploy/directory/Chart.yaml
  helm/deploy/gemeente-riemer/Chart.lock
  helm/deploy/gemeente-riemer/Chart.yaml
  helm/deploy/gemeente-stijns/Chart.lock
  helm/deploy/gemeente-stijns/Chart.yaml
  helm/deploy/rvrd/Chart.lock
  helm/deploy/rvrd/Chart.yaml
  helm/deploy/shared/Chart.lock
  helm/deploy/shared/Chart.yaml
  helm/deploy/vergunningsoftware-bv/Chart.lock
  helm/deploy/vergunningsoftware-bv/Chart.yaml
  technical-docs/nlx-helm-installation-guide/job-create-administrator.yaml
  technical-docs/nlx-helm-installation-guide/nlx-inway-values.yaml
  technical-docs/nlx-helm-installation-guide/nlx-management-values.yaml
  technical-docs/nlx-helm-installation-guide/nlx-outway-values.yaml
  technical-docs/nlx-helm-installation-guide/txlog-api-values.yaml
Due: none

build: update google.golang.org/genproto/googleapis/api digest to 9506855
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update google.golang.org/genproto/googleapis/rpc digest to 9506855
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update dependency i18next to v23.2.6
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update module gorm.io/gorm to v1.25.2
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update openpolicyagent/opa docker tag to v0.54.0
  auth-opa/Dockerfile
Due: none

build: update dependency react-router-dom to v6.14.1
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update dependency dayjs to v1.11.9
  e2e-tests/package-lock.json
  e2e-tests/package.json
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update dependency cross-fetch to v3.1.7
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

build: update dependency cross-fetch to v3.1.8
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

fix(inway): log organization serialnumber instead of organization name
  inway/inway.go
Due: Go tests (unit & integration), Go linter

build: remove usage of a Review Registry, use the GitLab Registry instead
  .gitlab/ci/build/acceptance.yml
  .gitlab/ci/build/review.yml
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

docs: upgrade cfssl Docker image 1.6.1 -> v1.6.4 to support multiple architectures
  docs/docs/try-nlx/docker/retrieve-a-demo-certificate.mdx
  docs/docs/try-nlx/helm/createcertificate.mdx
Due: none

release: 0.149.2
  CHANGELOG.md
  helm/charts/apps-overview/Chart.yaml
  helm/charts/ca-certportal/Chart.yaml
  helm/charts/ca-cfssl-unsafe/Chart.yaml
  helm/charts/nlx-directory/Chart.yaml
  helm/charts/nlx-docs/Chart.yaml
  helm/charts/nlx-inway/Chart.yaml
  helm/charts/nlx-management/Chart.yaml
  helm/charts/nlx-outway/Chart.yaml
  helm/charts/nlx-txlog-api/Chart.yaml
  helm/charts/video-player-ui/Chart.yaml
  helm/charts/websockets-chat-ui/Chart.yaml
  helm/deploy/directory/Chart.lock
  helm/deploy/directory/Chart.yaml
  helm/deploy/gemeente-riemer/Chart.lock
  helm/deploy/gemeente-riemer/Chart.yaml
  helm/deploy/gemeente-stijns/Chart.lock
  helm/deploy/gemeente-stijns/Chart.yaml
  helm/deploy/rvrd/Chart.lock
  helm/deploy/rvrd/Chart.yaml
  helm/deploy/shared/Chart.lock
  helm/deploy/shared/Chart.yaml
  helm/deploy/vergunningsoftware-bv/Chart.lock
  helm/deploy/vergunningsoftware-bv/Chart.yaml
  technical-docs/nlx-helm-installation-guide/job-create-administrator.yaml
  technical-docs/nlx-helm-installation-guide/nlx-inway-values.yaml
  technical-docs/nlx-helm-installation-guide/nlx-management-values.yaml
  technical-docs/nlx-helm-installation-guide/nlx-outway-values.yaml
  technical-docs/nlx-helm-installation-guide/txlog-api-values.yaml
Due: none

build: update docker docker tag to v24.0.4
  .gitlab/ci/build/acceptance.yml
  .gitlab/ci/build/production.yml
  .gitlab/ci/build/review.yml
  .gitlab/ci/push/production.yml
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update dependency @fontsource/source-sans-pro to v5.0.5
  directory-ui/ports/ui/assets/package-lock.json
  directory-ui/ports/ui/assets/package.json
  management-ui-fsc/ports/ui/assets/package-lock.json
  management-ui-fsc/ports/ui/assets/package.json
Due: Go tests (unit & integration), Go linter

build: update golang.org/x/exp digest to 613f0c0
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update google.golang.org/genproto/googleapis/api digest to 659f7aa
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update google.golang.org/genproto/googleapis/rpc digest to 659f7aa
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update commitlint monorepo to v17.6.7
  package-lock.json
  package.json
Due: none

build: update dependency eslint-plugin-jest to v27.2.3
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update dependency glob to v10.3.3
  package-lock.json
  package.json
Due: none

build: update golang.org/x/exp digest to 515e97e
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update google.golang.org/genproto/googleapis/api digest to b022f6e
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update google.golang.org/genproto/googleapis/rpc digest to b022f6e
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update dependency htmx.org to v1.9.4
  directory-ui/ports/ui/assets/package-lock.json
  directory-ui/ports/ui/assets/package.json
  management-ui-fsc/ports/ui/assets/package-lock.json
  management-ui-fsc/ports/ui/assets/package.json
Due: Go tests (unit & integration), Go linter

build: update dependency i18next to v23.2.11
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update dependency react-i18next to v13.0.2
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update google.golang.org/genproto/googleapis/api digest to 23370e0
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update google.golang.org/genproto/googleapis/rpc digest to 23370e0
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update dependency react-router-dom to v6.14.2
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update dependency semantic-release to v21.0.7
  package-lock.json
  package.json
Due: none

build: update docker docker tag to v24.0.5
  .gitlab/ci/build/acceptance.yml
  .gitlab/ci/build/production.yml
  .gitlab/ci/build/review.yml
  .gitlab/ci/push/production.yml
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update golang docker tag to v1.20.6
  apps-overview/Dockerfile
  ca-certportal/Dockerfile
  directory-api/Dockerfile
  directory-monitor/Dockerfile
  directory-ui/Dockerfile
  inway/Dockerfile
  management-api/Dockerfile
  management-ui-fsc/Dockerfile
  management-ui/Dockerfile
  nlxctl/Dockerfile
  outway/Dockerfile
  txlog-api/Dockerfile
Due: Go tests (unit & integration), Go linter

build: update module github.com/go-chi/chi/v5 to v5.0.10
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update module github.com/go-chi/render to v1.0.3
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

Path conditions:
  Go tests (unit & integration): any of: .gitlab/**/*, apps-overview/**/*, ca-certportal/**/*, ca-cfssl-unsafe/**/*, common/**/*, directory-api/**/*, directory-ui/**/*, directory-monitor/**/*, inway/**/*, management-api/**/*, nlxctl/**/*, outway/**/*, testing/**/*, txlog-api/**/*, .golang-ci.yml, go.mod, go.sum
  Go linter: any of: .gitlab/**/*, apps-overview/**/*, ca-certportal/**/*, ca-cfssl-unsafe/**/*, common/**/*, directory-api/**/*, directory-ui/**/*, directory-monitor/**/*, inway/**/*, management-api/**/*, nlxctl/**/*, outway/**/*, testing/**/*, txlog-api/**/*, .golang-ci.yml, go.mod, go.sum
  Go go.mod tidy test: any of: .gitlab/**/*, go.mod, go.sum
