Repository VNG-Realisatie/nlx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Go tests (unit & integration), Go linter, Go go.mod tidy test

.gitlab/ci/tests/go.yml:

# Copyright Â© VNG Realisatie 2022
# Licensed under the EUPL

services:
  - postgres:15.1-alpine

variables:
  POSTGRES_DB: nlx
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: ""
  POSTGRES_HOST_AUTH_METHOD: trust

Go tests (unit & integration):
  stage: Tests
  image: golang:1.20.1
  variables:
    POSTGRES_DSN: "postgres://postgres@postgres:5432/nlx?sslmode=disable"
  before_script:
    - mkdir -p tmp-coverage-reports/
  script:
    - ./pki/fix-permissions.sh
    - /usr/local/go/bin/go mod download
    - /usr/local/go/bin/go test ./... --tags=integration -coverprofile tmp-coverage-reports/coverage.out.tmp
    - cat tmp-coverage-reports/coverage.out.tmp | grep -v '.pb.go\|.pb.gw.go' > tmp-coverage-reports/coverage.out
    - rm tmp-coverage-reports/coverage.out.tmp
    - /usr/local/go/bin/go tool cover -html=tmp-coverage-reports/coverage.out -o tmp-coverage-reports/coverage.html
    - /usr/local/go/bin/go tool cover -func=tmp-coverage-reports/coverage.out
  coverage: /total:\t+\(statements\)\t+([\d\.]+?%)/
  artifacts:
    expire_in: 1 month
    paths:
      - tmp-coverage-reports/coverage.html
  needs: []
  rules:
    - if: "$CI_COMMIT_BRANCH" # do not run for tags
      changes:
        compare_to: 'master'
        paths:
          - .gitlab/**/*
          - apps-overview/**/*
          - ca-certportal/**/*
          - ca-cfssl-unsafe/**/*
          - common/**/*
          - directory-api/**/*
          - directory-ui/**/*
          - directory-monitor/**/*
          - inway/**/*
          - management-api/**/*
          - nlxctl/**/*
          - outway/**/*
          - testing/**/*
          - txlog-api/**/*
          - .golang-ci.yml
          - go.mod
          - go.sum
  tags:
    - cg
    - docker
  retry: 1

Go linter:
  stage: Tests
  image: golangci/golangci-lint:v1.50.1-alpine
  before_script:
    - export PATH=$PATH:/usr/local/go/bin
    - apk --no-cache add jq
  script:
    - golangci-lint version
    # Command based on https://docs.gitlab.com/ee/development/go_guide/index.html#automatic-linting
    # Write the code coverage report to gl-code-quality-report.json
    # and print linting issues to stdout in the format: path/to/file:line description
    # remove `--issues-exit-code 0` or set to non-zero to fail the job if linting issues are detected
    - golangci-lint run --timeout=5m --new-from-rev $(git rev-parse origin/master) --out-format code-climate | tee gl-code-quality-report.json | jq -r '.[] | "\(.location.path):\(.location.lines.begin) \(.description)"'
  artifacts:
    reports:
      codequality: gl-code-quality-report.json
    paths:
      - gl-code-quality-report.json
  needs: []
  rules:
    - if: "$CI_COMMIT_BRANCH" # do not run for tags
      changes:
        compare_to: 'master'
        paths:
          - .gitlab/**/*
          - apps-overview/**/*
          - ca-certportal/**/*
          - ca-cfssl-unsafe/**/*
          - common/**/*
          - directory-api/**/*
          - directory-ui/**/*
          - directory-monitor/**/*
          - inway/**/*
          - management-api/**/*
          - nlxctl/**/*
          - outway/**/*
          - testing/**/*
          - txlog-api/**/*
          - .golang-ci.yml
          - go.mod
          - go.sum
  tags:
    - cg
    - docker

Go go.mod tidy test:
  stage: Tests
  image: golang:1.20.1
  script:
    - cp go.mod go.mod.orig
    - /usr/local/go/bin/go mod download
    - /usr/local/go/bin/go mod tidy
    - diff go.mod.orig go.mod
  needs: []
  rules:
    - if: "$CI_COMMIT_BRANCH" # do not run for tags
      changes:
        compare_to: 'master'
        paths:
          - .gitlab/**/*
          - go.mod
          - go.sum
  tags:
    - cg
    - docker

build: update github.com/golang-migrate/migrate/v4 digest to e968557
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update docker docker tag to v23.0.3
  .gitlab/ci/build/acceptance.yml
  .gitlab/ci/build/production.yml
  .gitlab/ci/build/review.yml
  .gitlab/ci/push/production.yml
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update golang docker tag to v1.20.3
  apps-overview/Dockerfile
  ca-certportal/Dockerfile
  ca-cfssl-unsafe/Dockerfile
  directory-api/Dockerfile
  directory-monitor/Dockerfile
  directory-ui/Dockerfile
  inway/Dockerfile
  management-api/Dockerfile
  management-ui/Dockerfile
  nlxctl/Dockerfile
  outway/Dockerfile
  txlog-api/Dockerfile
Due: Go tests (unit & integration), Go linter

build: update typescript-eslint monorepo to v5.57.1
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

release: 0.147.0
  CHANGELOG.md
  helm/charts/apps-overview/Chart.yaml
  helm/charts/ca-certportal/Chart.yaml
  helm/charts/ca-cfssl-unsafe/Chart.yaml
  helm/charts/nlx-directory/Chart.yaml
  helm/charts/nlx-docs/Chart.yaml
  helm/charts/nlx-inway/Chart.yaml
  helm/charts/nlx-management/Chart.yaml
  helm/charts/nlx-outway/Chart.yaml
  helm/charts/nlx-txlog-api/Chart.yaml
  helm/charts/video-player-ui/Chart.yaml
  helm/charts/websockets-chat-ui/Chart.yaml
  helm/deploy/directory/Chart.lock
  helm/deploy/directory/Chart.yaml
  helm/deploy/gemeente-riemer/Chart.lock
  helm/deploy/gemeente-riemer/Chart.yaml
  helm/deploy/gemeente-stijns/Chart.lock
  helm/deploy/gemeente-stijns/Chart.yaml
  helm/deploy/rvrd/Chart.lock
  helm/deploy/rvrd/Chart.yaml
  helm/deploy/shared/Chart.lock
  helm/deploy/shared/Chart.yaml
  helm/deploy/vergunningsoftware-bv/Chart.lock
  helm/deploy/vergunningsoftware-bv/Chart.yaml
  technical-docs/nlx-helm-installation-guide/job-create-administrator.yaml
  technical-docs/nlx-helm-installation-guide/nlx-inway-values.yaml
  technical-docs/nlx-helm-installation-guide/nlx-management-values.yaml
  technical-docs/nlx-helm-installation-guide/nlx-outway-values.yaml
  technical-docs/nlx-helm-installation-guide/txlog-api-values.yaml
Due: none

style: explicitly use internal directory-api address for Directory UI
  helm/deploy/shared/values-acceptance.yaml
Due: none

ci(directory): use the directory-api over the internet for the demo Directory UI
  helm/deploy/shared/values-demo.yaml
Due: none

release: 0.147.1
  CHANGELOG.md
  helm/charts/apps-overview/Chart.yaml
  helm/charts/ca-certportal/Chart.yaml
  helm/charts/ca-cfssl-unsafe/Chart.yaml
  helm/charts/nlx-directory/Chart.yaml
  helm/charts/nlx-docs/Chart.yaml
  helm/charts/nlx-inway/Chart.yaml
  helm/charts/nlx-management/Chart.yaml
  helm/charts/nlx-outway/Chart.yaml
  helm/charts/nlx-txlog-api/Chart.yaml
  helm/charts/video-player-ui/Chart.yaml
  helm/charts/websockets-chat-ui/Chart.yaml
  helm/deploy/directory/Chart.lock
  helm/deploy/directory/Chart.yaml
  helm/deploy/gemeente-riemer/Chart.lock
  helm/deploy/gemeente-riemer/Chart.yaml
  helm/deploy/gemeente-stijns/Chart.lock
  helm/deploy/gemeente-stijns/Chart.yaml
  helm/deploy/rvrd/Chart.lock
  helm/deploy/rvrd/Chart.yaml
  helm/deploy/shared/Chart.lock
  helm/deploy/shared/Chart.yaml
  helm/deploy/vergunningsoftware-bv/Chart.lock
  helm/deploy/vergunningsoftware-bv/Chart.yaml
  technical-docs/nlx-helm-installation-guide/job-create-administrator.yaml
  technical-docs/nlx-helm-installation-guide/nlx-inway-values.yaml
  technical-docs/nlx-helm-installation-guide/nlx-management-values.yaml
  technical-docs/nlx-helm-installation-guide/nlx-outway-values.yaml
  technical-docs/nlx-helm-installation-guide/txlog-api-values.yaml
Due: none

build: update helm release dex to v0.14.1
  helm/deploy/gemeente-riemer/Chart.lock
  helm/deploy/gemeente-riemer/Chart.yaml
  helm/deploy/gemeente-stijns/Chart.lock
  helm/deploy/gemeente-stijns/Chart.yaml
  helm/deploy/rvrd/Chart.lock
  helm/deploy/rvrd/Chart.yaml
Due: none

build: update module github.com/spf13/cobra to v1.7.0
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update module golang.org/x/net to v0.9.0
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update openpolicyagent/opa docker tag to v0.51.0
  auth-opa/Dockerfile
Due: none

build: update github.com/golang-migrate/migrate/v4 digest to 84009cf
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update dependency @cucumber/html-formatter to v20.3.0
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

build: update dependency eslint to v8.38.0
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

build: update module golang.org/x/crypto to v0.8.0
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update module golang.org/x/oauth2 to v0.7.0
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update dependency glob to v9.3.5
  package-lock.json
  package.json
Due: none

build: update dependency glob to v10
  package-lock.json
  package.json
Due: none

build: update google.golang.org/genproto digest to daa745c
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update dependency @swc/core to v1.3.49
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

build: update module github.com/cloudflare/cfssl to v1.6.4
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update typescript-eslint monorepo to v5.58.0
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

ci: fix manager name for Renovate Config ignored Helm chart
  renovate.json
Due: none

revert: update helm release dex to v0.14.1
  helm/deploy/gemeente-riemer/Chart.lock
  helm/deploy/gemeente-riemer/Chart.yaml
  helm/deploy/gemeente-stijns/Chart.lock
  helm/deploy/gemeente-stijns/Chart.yaml
  helm/deploy/rvrd/Chart.lock
  helm/deploy/rvrd/Chart.yaml
Due: none

build: update dependency @openapitools/openapi-generator-cli to v2.6.0
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update module gorm.io/gorm to v1.25.0
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update node.js to v19.9.0
  .gitlab/ci/.templates.yml
  .gitlab/ci/e2e/nlx_management_selenium.yml
  docs/Dockerfile
  management-ui/Dockerfile
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update dependency yup to v1.1.0
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update dependency @swc/core to v1.3.50
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

build: update commitlint monorepo to v17.6.0
  package-lock.json
  package.json
Due: none

build: update commitlint monorepo to v17.6.1
  package-lock.json
  package.json
Due: none

build: update dependency yup to v1.1.1
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update module github.com/lib/pq to v1.10.8
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update dependency glob to v10.1.0
  package-lock.json
  package.json
Due: none

build: update dependency @swc/core to v1.3.51
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

build: update dependency glob to v10.2.1
  package-lock.json
  package.json
Due: none

build: update typescript-eslint monorepo to v5.59.0
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

build: update docker docker tag to v23.0.4
  .gitlab/ci/build/acceptance.yml
  .gitlab/ci/build/production.yml
  .gitlab/ci/build/review.yml
  .gitlab/ci/push/production.yml
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update golang.org/x/exp digest to 0354be2
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test
