Repository VNG-Realisatie/nlx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Go tests (unit & integration), Go linter, Go go.mod tidy test

Go tests (unit & integration):
  stage: Tests
  image: golang:1.20.1
  variables:
    POSTGRES_DSN: postgres://postgres@postgres:5432/nlx?sslmode=disable
  before_script:
  - mkdir -p tmp-coverage-reports/
  script:
  - ./pki/fix-permissions.sh
  - /usr/local/go/bin/go mod download
  ...

Go linter:
  stage: Tests
  image: golangci/golangci-lint:v1.50.1-alpine
  before_script:
  - export PATH=$PATH:/usr/local/go/bin
  - apk --no-cache add jq
  script:
  - golangci-lint version
  ...

Go go.mod tidy test:
  stage: Tests
  image: golang:1.20.1
  script:
  - cp go.mod go.mod.orig
  - /usr/local/go/bin/go mod download
  - /usr/local/go/bin/go mod tidy
  - diff go.mod.orig go.mod
  needs: []
  tags:
  - cg
  - docker

build: update dependency selenium-webdriver to v4.10.0
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

build: update module github.com/grpc-ecosystem/grpc-gateway/v2 to v2.16.0
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update module github.com/spf13/viper to v1.16.0
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update module golang.org/x/text to v0.10.0
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update module golang.org/x/crypto to v0.10.0
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update module golang.org/x/net to v0.11.0
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update module golang.org/x/oauth2 to v0.9.0
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update node.js to v20.3.0
  .gitlab/ci/.templates.yml
  .gitlab/ci/e2e/nlx_management_selenium.yml
  docs/Dockerfile
  management-ui-fsc/Dockerfile
  management-ui/Dockerfile
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update selenium/standalone-chrome docker tag to v4.10.0
  e2e-tests/docker-compose.yml
Due: none

build(management): upgrade NPM dependencies
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build(directory): upgrade NPM dependencies
  directory-ui/ports/ui/assets/package-lock.json
  directory-ui/ports/ui/assets/package.json
Due: Go tests (unit & integration), Go linter

build(directory): upgrade @fontsource/source-sans-pro v4 -> v5
  directory-ui/ports/ui/assets/package-lock.json
  directory-ui/ports/ui/assets/package.json
Due: Go tests (unit & integration), Go linter

build(management): upgrade NPM dependencies
  management-ui-fsc/ports/ui/assets/package-lock.json
  management-ui-fsc/ports/ui/assets/package.json
Due: none

release: 0.148.0
  CHANGELOG.md
  helm/charts/apps-overview/Chart.yaml
  helm/charts/ca-certportal/Chart.yaml
  helm/charts/ca-cfssl-unsafe/Chart.yaml
  helm/charts/nlx-directory/Chart.yaml
  helm/charts/nlx-docs/Chart.yaml
  helm/charts/nlx-inway/Chart.yaml
  helm/charts/nlx-management/Chart.yaml
  helm/charts/nlx-outway/Chart.yaml
  helm/charts/nlx-txlog-api/Chart.yaml
  helm/charts/video-player-ui/Chart.yaml
  helm/charts/websockets-chat-ui/Chart.yaml
  helm/deploy/directory/Chart.lock
  helm/deploy/directory/Chart.yaml
  helm/deploy/gemeente-riemer/Chart.lock
  helm/deploy/gemeente-riemer/Chart.yaml
  helm/deploy/gemeente-stijns/Chart.lock
  helm/deploy/gemeente-stijns/Chart.yaml
  helm/deploy/rvrd/Chart.lock
  helm/deploy/rvrd/Chart.yaml
  helm/deploy/shared/Chart.lock
  helm/deploy/shared/Chart.yaml
  helm/deploy/vergunningsoftware-bv/Chart.lock
  helm/deploy/vergunningsoftware-bv/Chart.yaml
  technical-docs/nlx-helm-installation-guide/job-create-administrator.yaml
  technical-docs/nlx-helm-installation-guide/nlx-inway-values.yaml
  technical-docs/nlx-helm-installation-guide/nlx-management-values.yaml
  technical-docs/nlx-helm-installation-guide/nlx-outway-values.yaml
  technical-docs/nlx-helm-installation-guide/txlog-api-values.yaml
Due: none

build: update alpine docker tag to v3.18.2
  .gitlab/ci/build/production.yml
  apps-overview/Dockerfile
  ca-certportal/Dockerfile
  ca-cfssl-unsafe/Dockerfile
  directory-api/Dockerfile
  directory-monitor/Dockerfile
  directory-ui/Dockerfile
  docs/Dockerfile
  inway/Dockerfile
  management-api/Dockerfile
  management-ui-fsc/Dockerfile
  management-ui/Dockerfile
  nlxctl/Dockerfile
  outway/Dockerfile
  sni-proxy/Dockerfile
  txlog-api/Dockerfile
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update node.js to v20.3.1
  .gitlab/ci/.templates.yml
  .gitlab/ci/e2e/nlx_management_selenium.yml
  directory-ui/Dockerfile
  docs/Dockerfile
  management-ui-fsc/Dockerfile
  management-ui/Dockerfile
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update dependency glob to v10.3.0
  package-lock.json
  package.json
Due: none

build: update module golang.org/x/sync to v0.3.0
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update module google.golang.org/grpc to v1.56.1
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update typescript-eslint monorepo to v5.60.0
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

build: update dependency @cucumber/cucumber to v9.2.0
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

build: update dependency i18next to v23
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update dependency react-i18next to v13
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update dependency replace-in-file to v7
  package-lock.json
  package.json
Due: none

build: update dependency react-router-dom to v6.14.0
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update commitlint monorepo to v17.6.6
  package-lock.json
  package.json
Due: none

build: update parcel monorepo to v2.9.3
  directory-ui/ports/ui/assets/package-lock.json
  directory-ui/ports/ui/assets/package.json
  management-ui-fsc/ports/ui/assets/package-lock.json
  management-ui-fsc/ports/ui/assets/package.json
Due: Go tests (unit & integration), Go linter

build: update golang.org/x/exp digest to 97b1e66
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update google.golang.org/genproto/googleapis/api digest to 9b080da
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update google.golang.org/genproto/googleapis/rpc digest to 9b080da
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update typescript-eslint monorepo to v5.60.1
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

build: update module google.golang.org/protobuf to v1.31.0
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

revert: update node.js to v20.3.1
  .gitlab/ci/.templates.yml
  .gitlab/ci/e2e/nlx_management_selenium.yml
  directory-ui/Dockerfile
  docs/Dockerfile
  management-ui-fsc/Dockerfile
  management-ui/Dockerfile
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

revert: update node.js to v20.3.0
  .gitlab/ci/.templates.yml
  .gitlab/ci/e2e/nlx_management_selenium.yml
  docs/Dockerfile
  management-ui-fsc/Dockerfile
  management-ui/Dockerfile
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: prevent upgrade to Node v20.3.x
  renovate.json
Due: none

feat(ca-certportal): extend default validity of certificates from 1 to 3 years
  .commitlintrc.yaml
  .gitlab/ci/build/acceptance.yml
  .gitlab/ci/build/production.yml
  .gitlab/ci/build/review.yml
  CONTRIBUTING.md
  ca-cfssl-unsafe/Dockerfile
  ca-cfssl-unsafe/README.md
  ca-cfssl-unsafe/generate-cert.sh
  ca-cfssl-unsafe/start-ca.sh
  helm/charts/ca-cfssl-unsafe/README.md
  helm/charts/ca-cfssl-unsafe/templates/configmap.yaml
  helm/charts/ca-cfssl-unsafe/templates/deployment.yaml
  helm/charts/ca-cfssl-unsafe/values.yaml
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update dependency glob to v10.3.1
  package-lock.json
  package.json
Due: none

build: update google.golang.org/genproto/googleapis/api digest to e449d1e
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update google.golang.org/genproto/googleapis/rpc digest to e449d1e
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

Path conditions:
  Go tests (unit & integration): any of: .gitlab/**/*, apps-overview/**/*, ca-certportal/**/*, ca-cfssl-unsafe/**/*, common/**/*, directory-api/**/*, directory-ui/**/*, directory-monitor/**/*, inway/**/*, management-api/**/*, nlxctl/**/*, outway/**/*, testing/**/*, txlog-api/**/*, .golang-ci.yml, go.mod, go.sum
  Go linter: any of: .gitlab/**/*, apps-overview/**/*, ca-certportal/**/*, ca-cfssl-unsafe/**/*, common/**/*, directory-api/**/*, directory-ui/**/*, directory-monitor/**/*, inway/**/*, management-api/**/*, nlxctl/**/*, outway/**/*, testing/**/*, txlog-api/**/*, .golang-ci.yml, go.mod, go.sum
  Go go.mod tidy test: any of: .gitlab/**/*, go.mod, go.sum
