Repository VNG-Realisatie/nlx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Go tests (unit & integration), Go linter, Go go.mod tidy test

.gitlab/ci/tests/go.yml:

# Copyright Â© VNG Realisatie 2022
# Licensed under the EUPL

services:
  - postgres:15.1-alpine

variables:
  POSTGRES_DB: nlx
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: ""
  POSTGRES_HOST_AUTH_METHOD: trust

Go tests (unit & integration):
  stage: Tests
  image: golang:1.20.1
  variables:
    POSTGRES_DSN: "postgres://postgres@postgres:5432/nlx?sslmode=disable"
  before_script:
    - mkdir -p tmp-coverage-reports/
  script:
    - ./pki/fix-permissions.sh
    - /usr/local/go/bin/go mod download
    - /usr/local/go/bin/go test ./... --tags=integration -coverprofile tmp-coverage-reports/coverage.out.tmp
    - cat tmp-coverage-reports/coverage.out.tmp | grep -v '.pb.go\|.pb.gw.go' > tmp-coverage-reports/coverage.out
    - rm tmp-coverage-reports/coverage.out.tmp
    - /usr/local/go/bin/go tool cover -html=tmp-coverage-reports/coverage.out -o tmp-coverage-reports/coverage.html
    - /usr/local/go/bin/go tool cover -func=tmp-coverage-reports/coverage.out
  coverage: /total:\t+\(statements\)\t+([\d\.]+?%)/
  artifacts:
    expire_in: 1 month
    paths:
      - tmp-coverage-reports/coverage.html
  needs: []
  rules:
    - if: "$CI_COMMIT_BRANCH" # do not run for tags
      changes:
        compare_to: 'master'
        paths:
          - .gitlab/**/*
          - apps-overview/**/*
          - ca-certportal/**/*
          - ca-cfssl-unsafe/**/*
          - common/**/*
          - directory-api/**/*
          - directory-ui/**/*
          - directory-monitor/**/*
          - inway/**/*
          - management-api/**/*
          - nlxctl/**/*
          - outway/**/*
          - testing/**/*
          - txlog-api/**/*
          - .golang-ci.yml
          - go.mod
          - go.sum
  tags:
    - cg
    - docker
  retry: 1

Go linter:
  stage: Tests
  image: golangci/golangci-lint:v1.50.1-alpine
  before_script:
    - export PATH=$PATH:/usr/local/go/bin
    - apk --no-cache add jq
  script:
    - golangci-lint version
    # Command based on https://docs.gitlab.com/ee/development/go_guide/index.html#automatic-linting
    # Write the code coverage report to gl-code-quality-report.json
    # and print linting issues to stdout in the format: path/to/file:line description
    # remove `--issues-exit-code 0` or set to non-zero to fail the job if linting issues are detected
    - golangci-lint run --timeout=5m --new-from-rev $(git rev-parse origin/master) --out-format code-climate | tee gl-code-quality-report.json | jq -r '.[] | "\(.location.path):\(.location.lines.begin) \(.description)"'
  artifacts:
    reports:
      codequality: gl-code-quality-report.json
    paths:
      - gl-code-quality-report.json
  needs: []
  rules:
    - if: "$CI_COMMIT_BRANCH" # do not run for tags
      changes:
        compare_to: 'master'
        paths:
          - .gitlab/**/*
          - apps-overview/**/*
          - ca-certportal/**/*
          - ca-cfssl-unsafe/**/*
          - common/**/*
          - directory-api/**/*
          - directory-ui/**/*
          - directory-monitor/**/*
          - inway/**/*
          - management-api/**/*
          - nlxctl/**/*
          - outway/**/*
          - testing/**/*
          - txlog-api/**/*
          - .golang-ci.yml
          - go.mod
          - go.sum
  tags:
    - cg
    - docker

Go go.mod tidy test:
  stage: Tests
  image: golang:1.20.1
  script:
    - cp go.mod go.mod.orig
    - /usr/local/go/bin/go mod download
    - /usr/local/go/bin/go mod tidy
    - diff go.mod.orig go.mod
  needs: []
  rules:
    - if: "$CI_COMMIT_BRANCH" # do not run for tags
      changes:
        compare_to: 'master'
        paths:
          - .gitlab/**/*
          - go.mod
          - go.sum
  tags:
    - cg
    - docker

build: update node.js to v20.2.0
  .gitlab/ci/.templates.yml
  .gitlab/ci/e2e/nlx_management_selenium.yml
  docs/Dockerfile
  management-ui-fsc/Dockerfile
  management-ui/Dockerfile
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update dependency @axe-core/webdriverjs to v4.7.1
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

build: update docker docker tag to v24
  .gitlab/ci/build/acceptance.yml
  .gitlab/ci/build/production.yml
  .gitlab/ci/build/review.yml
  .gitlab/ci/push/production.yml
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update dependency glob to v10.2.5
  package-lock.json
  package.json
Due: none

build: update dependency react-router-dom to v6.11.2
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update golang.org/x/exp digest to 03e9162
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update module github.com/stretchr/testify to v1.8.3
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update dependency glob to v10.2.6
  package-lock.json
  package.json
Due: none

build: update golang.org/x/exp digest to 2e198f4
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update google.golang.org/genproto digest to 71b5a4f
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update google.golang.org/genproto/googleapis/api digest to 71b5a4f
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update google.golang.org/genproto/googleapis/rpc digest to 71b5a4f
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update dependency @types/selenium-webdriver to v4.1.15
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

build: update dependency styled-components to v5.3.11
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update typescript-eslint monorepo to v5.59.7
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

build: update dependency formik to v2.4.0
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update dependency yup to v1.2.0
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update typescript-eslint monorepo to v5.59.8
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

build: update module github.com/golang-migrate/migrate/v4 to v4.16.0
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update openpolicyagent/opa docker tag to v0.53.0
  auth-opa/Dockerfile
Due: none

build: update parcel monorepo to v2.9.1
  management-ui-fsc/ports/ui/assets/package-lock.json
  management-ui-fsc/ports/ui/assets/package.json
Due: none

build: update google.golang.org/genproto/googleapis/api digest to e85fd2c
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update google.golang.org/genproto/googleapis/rpc digest to e85fd2c
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update commitlint monorepo to v17.6.5
  package-lock.json
  package.json
Due: none

build: update dependency @axe-core/webdriverjs to v4.7.2
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

build: update dependency @cucumber/html-formatter to v20.3.1
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

build: update dependency dayjs to v1.11.8
  e2e-tests/package-lock.json
  e2e-tests/package.json
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update dependency formik to v2.4.1
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update dependency glob to v10.2.7
  package-lock.json
  package.json
Due: none

build: update golang docker tag to v1.20.5
  apps-overview/Dockerfile
  ca-certportal/Dockerfile
  ca-cfssl-unsafe/Dockerfile
  directory-api/Dockerfile
  directory-monitor/Dockerfile
  directory-ui/Dockerfile
  inway/Dockerfile
  management-api/Dockerfile
  management-ui-fsc/Dockerfile
  management-ui/Dockerfile
  nlxctl/Dockerfile
  outway/Dockerfile
  txlog-api/Dockerfile
Due: Go tests (unit & integration), Go linter

build: update module github.com/golang-migrate/migrate/v4 to v4.16.1
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update module github.com/stretchr/testify to v1.8.4
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update openpolicyagent/opa docker tag to v0.53.1
  auth-opa/Dockerfile
Due: none

build: update module github.com/golang-migrate/migrate/v4 to v4.16.2
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update parcel monorepo to v2.9.2
  management-ui-fsc/ports/ui/assets/package-lock.json
  management-ui-fsc/ports/ui/assets/package.json
Due: none

build: update semantic-release monorepo
  package-lock.json
  package.json
Due: none

build: update typescript-eslint monorepo to v5.59.9
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

build: update dependency react-router-dom to v6.12.1
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update dependency @axe-core/webdriverjs to v4.7.3
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

build: update typescript-eslint monorepo to v5.59.11
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none
