Repository VNG-Realisatie/nlx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Go tests (unit & integration), Go linter, Go go.mod tidy test

Go tests (unit & integration):
  stage: Tests
  image: golang:1.20.1
  variables:
    POSTGRES_DSN: postgres://postgres@postgres:5432/nlx?sslmode=disable
  before_script:
  - mkdir -p tmp-coverage-reports/
  script:
  - ./pki/fix-permissions.sh
  - /usr/local/go/bin/go mod download
  ...

Go linter:
  stage: Tests
  image: golangci/golangci-lint:v1.50.1-alpine
  before_script:
  - export PATH=$PATH:/usr/local/go/bin
  - apk --no-cache add jq
  script:
  - golangci-lint version
  ...

Go go.mod tidy test:
  stage: Tests
  image: golang:1.20.1
  script:
  - cp go.mod go.mod.orig
  - /usr/local/go/bin/go mod download
  - /usr/local/go/bin/go mod tidy
  - diff go.mod.orig go.mod
  needs: []
  tags:
  - cg
  - docker

build: update dependency i18next-parser to v8.7.0
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update dependency react-i18next to v13.2.2
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update dependency react-router-dom to v6.16.0
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update dependency selenium-webdriver to v4.13.0
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

build: update dependency i18next-parser to v8.8.0
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update dependency yup to v1.3.2
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update golang docker tag to v1.21.1
  apps-overview/Dockerfile
  ca-certportal/Dockerfile
  directory-api/Dockerfile
  directory-monitor/Dockerfile
  directory-ui/Dockerfile
  inway/Dockerfile
  management-api/Dockerfile
  management-ui-fsc/Dockerfile
  management-ui/Dockerfile
  nlxctl/Dockerfile
  outway/Dockerfile
  txlog-api/Dockerfile
Due: Go tests (unit & integration), Go linter

build: update helm release nginx-video-player-ui-proxy to v0.2.0
  helm/deploy/gemeente-stijns/Chart.lock
  helm/deploy/gemeente-stijns/Chart.yaml
Due: none

build: update module github.com/grpc-ecosystem/grpc-gateway/v2 to v2.18.0
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update module google.golang.org/grpc to v1.58.2
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update module go.uber.org/zap to v1.26.0
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update openpolicyagent/opa docker tag to v0.57.0
  auth-opa/Dockerfile
Due: none

build: update postgres docker tag to v15.4
  docker-compose.dev.yml
Due: none

build: update selenium/standalone-chrome docker tag to v4.13.0
  e2e-tests/docker-compose.yml
Due: none

build: update typescript-eslint monorepo to v6.7.3
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

build: update google.golang.org/genproto/googleapis/api digest to d307bd8
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update google.golang.org/genproto/googleapis/rpc digest to d307bd8
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update typescript-eslint monorepo to v6.7.4
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

build: update dependency semantic-release to v22
  package-lock.json
  package.json
Due: none

docs: redirect docs website to the FSC NLX Demo docs
  docs/website/docusaurus.config.js
  docs/website/src/pages/index.js
Due: none

ci(helm): remove expired CA certificate from acceptance
  helm/deploy/gemeente-riemer/values-acceptance.yaml
  helm/deploy/gemeente-stijns/values-acceptance.yaml
  helm/deploy/rvrd/values-acceptance.yaml
  helm/deploy/shared/values-acceptance.yaml
  helm/deploy/vergunningsoftware-bv/values-acceptance.yaml
Due: none

build: upgrade all Node references to Node v20.8.0
  .gitlab/ci/.templates.yml
  .gitlab/ci/e2e/nlx_management_selenium.yml
  directory-ui/Dockerfile
  docs/Dockerfile
  management-ui-fsc/Dockerfile
  management-ui/Dockerfile
  renovate.json
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

release: 0.149.3
  CHANGELOG.md
  helm/charts/apps-overview/Chart.yaml
  helm/charts/ca-certportal/Chart.yaml
  helm/charts/ca-cfssl-unsafe/Chart.yaml
  helm/charts/nlx-directory/Chart.yaml
  helm/charts/nlx-docs/Chart.yaml
  helm/charts/nlx-inway/Chart.yaml
  helm/charts/nlx-management/Chart.yaml
  helm/charts/nlx-outway/Chart.yaml
  helm/charts/nlx-txlog-api/Chart.yaml
  helm/charts/video-player-ui/Chart.yaml
  helm/charts/websockets-chat-ui/Chart.yaml
  helm/deploy/directory/Chart.lock
  helm/deploy/directory/Chart.yaml
  helm/deploy/gemeente-riemer/Chart.lock
  helm/deploy/gemeente-riemer/Chart.yaml
  helm/deploy/gemeente-stijns/Chart.lock
  helm/deploy/gemeente-stijns/Chart.yaml
  helm/deploy/rvrd/Chart.lock
  helm/deploy/rvrd/Chart.yaml
  helm/deploy/shared/Chart.lock
  helm/deploy/shared/Chart.yaml
  helm/deploy/vergunningsoftware-bv/Chart.lock
  helm/deploy/vergunningsoftware-bv/Chart.yaml
  technical-docs/nlx-helm-installation-guide/job-create-administrator.yaml
  technical-docs/nlx-helm-installation-guide/nlx-inway-values.yaml
  technical-docs/nlx-helm-installation-guide/nlx-management-values.yaml
  technical-docs/nlx-helm-installation-guide/nlx-outway-values.yaml
  technical-docs/nlx-helm-installation-guide/txlog-api-values.yaml
Due: none

docs: add deprecation warning to the README
  README.md
Due: none

ci: add logging rotation to postgres
  helm/deploy/directory/templates/postgres.yaml
  helm/deploy/gemeente-riemer/templates/postgres.yaml
  helm/deploy/gemeente-stijns/templates/postgres.yaml
  helm/deploy/rvrd/templates/postgres.yaml
  helm/deploy/shared/templates/postgres.yaml
  helm/deploy/vergunningsoftware-bv/templates/postgres.yaml
Due: none

release: 0.149.4
  CHANGELOG.md
  helm/charts/apps-overview/Chart.yaml
  helm/charts/ca-certportal/Chart.yaml
  helm/charts/ca-cfssl-unsafe/Chart.yaml
  helm/charts/nlx-directory/Chart.yaml
  helm/charts/nlx-docs/Chart.yaml
  helm/charts/nlx-inway/Chart.yaml
  helm/charts/nlx-management/Chart.yaml
  helm/charts/nlx-outway/Chart.yaml
  helm/charts/nlx-txlog-api/Chart.yaml
  helm/charts/video-player-ui/Chart.yaml
  helm/charts/websockets-chat-ui/Chart.yaml
  helm/deploy/directory/Chart.lock
  helm/deploy/directory/Chart.yaml
  helm/deploy/gemeente-riemer/Chart.lock
  helm/deploy/gemeente-riemer/Chart.yaml
  helm/deploy/gemeente-stijns/Chart.lock
  helm/deploy/gemeente-stijns/Chart.yaml
  helm/deploy/rvrd/Chart.lock
  helm/deploy/rvrd/Chart.yaml
  helm/deploy/shared/Chart.lock
  helm/deploy/shared/Chart.yaml
  helm/deploy/vergunningsoftware-bv/Chart.lock
  helm/deploy/vergunningsoftware-bv/Chart.yaml
  technical-docs/nlx-helm-installation-guide/job-create-administrator.yaml
  technical-docs/nlx-helm-installation-guide/nlx-inway-values.yaml
  technical-docs/nlx-helm-installation-guide/nlx-management-values.yaml
  technical-docs/nlx-helm-installation-guide/nlx-outway-values.yaml
  technical-docs/nlx-helm-installation-guide/txlog-api-values.yaml
Due: none

build: update golang.org/x/exp digest to 6522937
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update google.golang.org/genproto/googleapis/api digest to 3a041ad
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update google.golang.org/genproto/googleapis/rpc digest to 3a041ad
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update alpine docker tag to v3.18.5
  .gitlab/ci/build/production.yml
  apps-overview/Dockerfile
  ca-certportal/Dockerfile
  directory-api/Dockerfile
  directory-monitor/Dockerfile
  directory-ui/Dockerfile
  docs/Dockerfile
  inway/Dockerfile
  management-api/Dockerfile
  management-ui-fsc/Dockerfile
  management-ui/Dockerfile
  nlxctl/Dockerfile
  outway/Dockerfile
  sni-proxy/Dockerfile
  txlog-api/Dockerfile
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update dependency htmx.org to v1.9.9
  directory-ui/ports/ui/assets/package-lock.json
  directory-ui/ports/ui/assets/package.json
  management-ui-fsc/ports/ui/assets/package-lock.json
  management-ui-fsc/ports/ui/assets/package.json
Due: Go tests (unit & integration), Go linter

build: update dependency replace-in-file to v7.0.2
  package-lock.json
  package.json
Due: none

build: update docker docker tag to v24.0.7
  .gitlab/ci/build/acceptance.yml
  .gitlab/ci/build/production.yml
  .gitlab/ci/build/review.yml
  .gitlab/ci/push/production.yml
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update golang docker tag to v1.21.4
  apps-overview/Dockerfile
  ca-certportal/Dockerfile
  directory-api/Dockerfile
  directory-monitor/Dockerfile
  directory-ui/Dockerfile
  inway/Dockerfile
  management-api/Dockerfile
  management-ui-fsc/Dockerfile
  management-ui/Dockerfile
  nlxctl/Dockerfile
  outway/Dockerfile
  txlog-api/Dockerfile
Due: Go tests (unit & integration), Go linter

ci: use Common Ground k8s runners
  .gitlab/ci/build/acceptance.yml
  .gitlab/ci/build/production.yml
  .gitlab/ci/build/review.yml
  .gitlab/ci/deploy/acceptance.yml
  .gitlab/ci/deploy/demo.yml
  .gitlab/ci/deploy/pre-production.yml
  .gitlab/ci/deploy/production.yml
  .gitlab/ci/deploy/review.yml
  .gitlab/ci/e2e/nlx_management_selenium.yml
  .gitlab/ci/push/production.yml
  .gitlab/ci/redeploy/acceptance.yml
  .gitlab/ci/redeploy/demo.yml
  .gitlab/ci/tests/commits.yml
  .gitlab/ci/tests/copyright.yml
  .gitlab/ci/tests/go.yml
  .gitlab/ci/tests/helm.yml
  .gitlab/ci/tests/newlines.yml
  .gitlab/ci/tests/proto.yml
  .gitlab/ci/tests/ui.yml
  .gitlab/ci/tools/semantic-release.yml
  .gitlab/ci/version/determine-next-version.yml
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

ci: introduce Kaniko for building Review images
  .gitlab/ci/build/review.yml
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

ci: deploy Helm charts in series instead of parallel
  .gitlab/ci/deploy/review.yml
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

ci: introduce Kaniko for building Acceptance and Production Docker images
  .gitlab-ci.yml
  .gitlab/ci/build/acceptance.yml
  .gitlab/ci/build/production.yml
  .gitlab/ci/push/production.yml
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

release: 0.149.5
  CHANGELOG.md
  helm/charts/apps-overview/Chart.yaml
  helm/charts/ca-certportal/Chart.yaml
  helm/charts/ca-cfssl-unsafe/Chart.yaml
  helm/charts/nlx-directory/Chart.yaml
  helm/charts/nlx-docs/Chart.yaml
  helm/charts/nlx-inway/Chart.yaml
  helm/charts/nlx-management/Chart.yaml
  helm/charts/nlx-outway/Chart.yaml
  helm/charts/nlx-txlog-api/Chart.yaml
  helm/charts/video-player-ui/Chart.yaml
  helm/charts/websockets-chat-ui/Chart.yaml
  helm/deploy/directory/Chart.lock
  helm/deploy/directory/Chart.yaml
  helm/deploy/gemeente-riemer/Chart.lock
  helm/deploy/gemeente-riemer/Chart.yaml
  helm/deploy/gemeente-stijns/Chart.lock
  helm/deploy/gemeente-stijns/Chart.yaml
  helm/deploy/rvrd/Chart.lock
  helm/deploy/rvrd/Chart.yaml
  helm/deploy/shared/Chart.lock
  helm/deploy/shared/Chart.yaml
  helm/deploy/vergunningsoftware-bv/Chart.lock
  helm/deploy/vergunningsoftware-bv/Chart.yaml
  technical-docs/nlx-helm-installation-guide/job-create-administrator.yaml
  technical-docs/nlx-helm-installation-guide/nlx-inway-values.yaml
  technical-docs/nlx-helm-installation-guide/nlx-management-values.yaml
  technical-docs/nlx-helm-installation-guide/nlx-outway-values.yaml
  technical-docs/nlx-helm-installation-guide/txlog-api-values.yaml
Due: none

fix(helm): corrected log_truncate_on_rotation setting for Postgres
  helm/deploy/directory/templates/postgres.yaml
  helm/deploy/gemeente-riemer/templates/postgres.yaml
  helm/deploy/gemeente-stijns/templates/postgres.yaml
  helm/deploy/rvrd/templates/postgres.yaml
  helm/deploy/shared/templates/postgres.yaml
  helm/deploy/vergunningsoftware-bv/templates/postgres.yaml
Due: none

Path conditions:
  Go tests (unit & integration): any of: .gitlab/**/*, apps-overview/**/*, ca-certportal/**/*, ca-cfssl-unsafe/**/*, common/**/*, directory-api/**/*, directory-ui/**/*, directory-monitor/**/*, inway/**/*, management-api/**/*, nlxctl/**/*, outway/**/*, testing/**/*, txlog-api/**/*, .golang-ci.yml, go.mod, go.sum
  Go linter: any of: .gitlab/**/*, apps-overview/**/*, ca-certportal/**/*, ca-cfssl-unsafe/**/*, common/**/*, directory-api/**/*, directory-ui/**/*, directory-monitor/**/*, inway/**/*, management-api/**/*, nlxctl/**/*, outway/**/*, testing/**/*, txlog-api/**/*, .golang-ci.yml, go.mod, go.sum
  Go go.mod tidy test: any of: .gitlab/**/*, go.mod, go.sum
