Repository VNG-Realisatie/nlx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Go tests (unit & integration), Go linter, Go go.mod tidy test

.gitlab/ci/tests/go.yml:

# Copyright Â© VNG Realisatie 2022
# Licensed under the EUPL

services:
  - postgres:15.1-alpine

variables:
  POSTGRES_DB: nlx
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: ""
  POSTGRES_HOST_AUTH_METHOD: trust

Go tests (unit & integration):
  stage: Tests
  image: golang:1.20.1
  variables:
    POSTGRES_DSN: "postgres://postgres@postgres:5432/nlx?sslmode=disable"
  before_script:
    - mkdir -p tmp-coverage-reports/
  script:
    - ./pki/fix-permissions.sh
    - /usr/local/go/bin/go mod download
    - /usr/local/go/bin/go test ./... --tags=integration -coverprofile tmp-coverage-reports/coverage.out.tmp
    - cat tmp-coverage-reports/coverage.out.tmp | grep -v '.pb.go\|.pb.gw.go' > tmp-coverage-reports/coverage.out
    - rm tmp-coverage-reports/coverage.out.tmp
    - /usr/local/go/bin/go tool cover -html=tmp-coverage-reports/coverage.out -o tmp-coverage-reports/coverage.html
    - /usr/local/go/bin/go tool cover -func=tmp-coverage-reports/coverage.out
  coverage: /total:\t+\(statements\)\t+([\d\.]+?%)/
  artifacts:
    expire_in: 1 month
    paths:
      - tmp-coverage-reports/coverage.html
  needs: []
  rules:
    - if: "$CI_COMMIT_BRANCH" # do not run for tags
      changes:
        compare_to: 'master'
        paths:
          - .gitlab/**/*
          - apps-overview/**/*
          - ca-certportal/**/*
          - ca-cfssl-unsafe/**/*
          - common/**/*
          - directory-api/**/*
          - directory-ui/**/*
          - directory-monitor/**/*
          - inway/**/*
          - management-api/**/*
          - nlxctl/**/*
          - outway/**/*
          - testing/**/*
          - txlog-api/**/*
          - .golang-ci.yml
          - go.mod
          - go.sum
  tags:
    - cg
    - docker
  retry: 1

Go linter:
  stage: Tests
  image: golangci/golangci-lint:v1.50.1-alpine
  before_script:
    - export PATH=$PATH:/usr/local/go/bin
    - apk --no-cache add jq
  script:
    - golangci-lint version
    # Command based on https://docs.gitlab.com/ee/development/go_guide/index.html#automatic-linting
    # Write the code coverage report to gl-code-quality-report.json
    # and print linting issues to stdout in the format: path/to/file:line description
    # remove `--issues-exit-code 0` or set to non-zero to fail the job if linting issues are detected
    - golangci-lint run --timeout=5m --new-from-rev $(git rev-parse origin/master) --out-format code-climate | tee gl-code-quality-report.json | jq -r '.[] | "\(.location.path):\(.location.lines.begin) \(.description)"'
  artifacts:
    reports:
      codequality: gl-code-quality-report.json
    paths:
      - gl-code-quality-report.json
  needs: []
  rules:
    - if: "$CI_COMMIT_BRANCH" # do not run for tags
      changes:
        compare_to: 'master'
        paths:
          - .gitlab/**/*
          - apps-overview/**/*
          - ca-certportal/**/*
          - ca-cfssl-unsafe/**/*
          - common/**/*
          - directory-api/**/*
          - directory-ui/**/*
          - directory-monitor/**/*
          - inway/**/*
          - management-api/**/*
          - nlxctl/**/*
          - outway/**/*
          - testing/**/*
          - txlog-api/**/*
          - .golang-ci.yml
          - go.mod
          - go.sum
  tags:
    - cg
    - docker

Go go.mod tidy test:
  stage: Tests
  image: golang:1.20.1
  script:
    - cp go.mod go.mod.orig
    - /usr/local/go/bin/go mod download
    - /usr/local/go/bin/go mod tidy
    - diff go.mod.orig go.mod
  needs: []
  rules:
    - if: "$CI_COMMIT_BRANCH" # do not run for tags
      changes:
        compare_to: 'master'
        paths:
          - .gitlab/**/*
          - go.mod
          - go.sum
  tags:
    - cg
    - docker

build: update module golang.org/x/oauth2 to v0.11.0
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update dependency eslint-config-prettier to v9
  e2e-tests/package-lock.json
  e2e-tests/package.json
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update dependency @fontsource/source-sans-pro to v5.0.8
  directory-ui/ports/ui/assets/package-lock.json
  directory-ui/ports/ui/assets/package.json
  management-ui-fsc/ports/ui/assets/package-lock.json
  management-ui-fsc/ports/ui/assets/package.json
Due: Go tests (unit & integration), Go linter

build: update dependency i18next to v23.4.2
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update golang.org/x/exp digest to 050eac2
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update google.golang.org/genproto/googleapis/api digest to 1744710
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update google.golang.org/genproto/googleapis/rpc digest to 1744710
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update alpine docker tag to v3.18.3
  .gitlab/ci/build/production.yml
  apps-overview/Dockerfile
  ca-certportal/Dockerfile
  directory-api/Dockerfile
  directory-monitor/Dockerfile
  directory-ui/Dockerfile
  docs/Dockerfile
  inway/Dockerfile
  management-api/Dockerfile
  management-ui-fsc/Dockerfile
  management-ui/Dockerfile
  nlxctl/Dockerfile
  outway/Dockerfile
  sni-proxy/Dockerfile
  txlog-api/Dockerfile
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update dependency i18next-parser to v8.4.0
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update typescript-eslint monorepo to v6.3.0
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

build: update dependency i18next to v23.4.3
  management-ui/package-lock.json
  management-ui/package.json
Due: none

ci: update version variable name for the Helm chart deployment
  .gitlab/ci/build/production.yml
  scripts/trigger-external-pipeline.sh
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

ci: use new gitlab agents
  .gitlab/agents/nlx-prod/config.yaml
  .gitlab/agents/nlx-review/config.yaml
  .gitlab/ci/deploy/acceptance.yml
  .gitlab/ci/deploy/demo.yml
  .gitlab/ci/deploy/pre-production.yml
  .gitlab/ci/deploy/production.yml
  .gitlab/ci/deploy/review.yml
  .gitlab/ci/redeploy/acceptance.yml
  .gitlab/ci/redeploy/demo.yml
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: upgrade NPM dependencies for E2E tests related to webdriver
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

build: update module github.com/data-dog/go-txdb to v0.1.7
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update module gorm.io/driver/postgres to v1.5.2
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update golang.org/x/exp digest to 9212866
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update google.golang.org/genproto/googleapis/api digest to e6e6cda
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update google.golang.org/genproto/googleapis/rpc digest to e6e6cda
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update dependency dayjs to v1.11.10
  e2e-tests/package-lock.json
  e2e-tests/package.json
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update dependency eslint-plugin-import to v2.28.1
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

build: update dependency formik to v2.4.5
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update alpine docker tag to v3.18.4
  .gitlab/ci/build/production.yml
  apps-overview/Dockerfile
  ca-certportal/Dockerfile
  directory-api/Dockerfile
  directory-monitor/Dockerfile
  directory-ui/Dockerfile
  docs/Dockerfile
  inway/Dockerfile
  management-api/Dockerfile
  management-ui-fsc/Dockerfile
  management-ui/Dockerfile
  nlxctl/Dockerfile
  outway/Dockerfile
  sni-proxy/Dockerfile
  txlog-api/Dockerfile
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update dependency glob to v10.3.10
  package-lock.json
  package.json
Due: none

build: update dependency htmx.org to v1.9.6
  directory-ui/ports/ui/assets/package-lock.json
  directory-ui/ports/ui/assets/package.json
  management-ui-fsc/ports/ui/assets/package-lock.json
  management-ui-fsc/ports/ui/assets/package.json
Due: Go tests (unit & integration), Go linter

build: update dependency i18next-http-backend to v2.2.2
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update dependency mobx to v6.10.2
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update dependency mobx-react to v9.0.1
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update dependency prettier to v3.0.3
  e2e-tests/package-lock.json
  e2e-tests/package.json
Due: none

build: update docker docker tag to v24.0.6
  .gitlab/ci/build/acceptance.yml
  .gitlab/ci/build/production.yml
  .gitlab/ci/build/review.yml
  .gitlab/ci/push/production.yml
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update docusaurus monorepo to v2.4.3
  docs/website/package-lock.json
  docs/website/package.json
Due: none

build: update helm release basisregister-fictieve-kentekens to v0.1.1
  helm/deploy/rvrd/Chart.lock
  helm/deploy/rvrd/Chart.yaml
Due: none

build: update module github.com/google/uuid to v1.3.1
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update module gorm.io/gorm to v1.25.4
  go.mod
  go.sum
Due: Go tests (unit & integration), Go linter, Go go.mod tidy test

build: update semantic-release monorepo
  package-lock.json
  package.json
Due: none

build: update commitlint monorepo
  package-lock.json
  package.json
Due: none

build: update dependency @commonground/design-system to v21.7.1
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update dependency @testing-library/user-event to v14.5.1
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update dependency eslint-plugin-jest to v27.4.2
  management-ui/package-lock.json
  management-ui/package.json
Due: none

build: update dependency i18next to v23.5.1
  management-ui/package-lock.json
  management-ui/package.json
Due: none
